<div id="view" v-cloak>
  <div class="hero d-flex flex-column justify-content-center" full-page-hero>
    <div class="container text-center">
      <div class="hero-image">
        <h2 style="margin: 1em;"><%= video_title %></h2>
        <div class="embed-responsive embed-responsive-16by9">
          <video width="full" height="full" controls>
                  <source src="/video/play?video=<%= video_name %>" type="video/mp4">
                  </video>
        </div>
      </div>
      <div class="row"  style="
    margin: 2em;
    display: flex;
    justify-content: center;">
        <div class="col-6-sm">
          <a class="btn btn-outline-info" href="/video/play?video=<%= video_name %>"download="<%= video_name %>" role="button">Télécharger</a>
        </div>
      </div>
    </div>
  </div>
</div>

<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
