<div id="view" v-cloak>
      
     
          <a href="/video/play?video=<%= video_name %>"
          download="<%= video_name %>">Télécharger la video</a>

          <video width="720" height="405" controls>
            <source src="/video/play?video=<%= video_name %>" type="video/mp4">
            </video>
     
</div>

<%= video_name %>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
