<div id="view" v-cloak>

    <div class="container text-center">
            <h1 class="display-1 mb-3"><%= video_title %></h1>

            <video width="720" height="405" controls>
                    <source src="/video/play?video=<%= video_name %>" type="video/mp4">
                    </video>
    </div>
      
    <a href="/video/play?video=<%= video_name %>"
          download="<%= video_name %>">Télécharger la video</a>
     
</div>

<%= video_name %>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
